%h1 Список дисциплин

%table.table.table-striped
  %tr
    %th.center Название
    %th.center Действия

  - @disciplines.each do |discipline|
    %tr
      %td= link_to discipline.name, :controller => 'groups', :action => 'index', :discipline => discipline
      %td.edit-delete
        = link_to 'Редактировать', edit_discipline_path(discipline), :class => 'btn'
        = link_to 'Удалить', discipline, :confirm => 'Вы уверены?', :method => :delete, :class => 'btn btn-danger'

%br

= link_to 'Новая дисциплина', new_discipline_path, :class => 'btn'
