%h1 Репозиторий тем

%table{:class => 'table table-stripped'}
  %thead
    %tr
      %th{:style => 'width: 70%;'} Дисциплина
      %th{:style => 'width: 13%; text-align: center;'} Колличество тем
      %th{:style => 'width: 17%; text-align: center;'} Колличество вопросов
  %tbody
    - @disciplines.each do |discipline|
      - unless discipline.repository_themes.blank?
        %tr
          %td= link_to discipline.name, discipline_themes_repository_themes_path(:discipline_id => discipline)
          %td{:style => 'text-align: center;'}= discipline.repository_themes.size
          %td{:style => 'text-align: center;'}
            - count = 0
            - discipline.repository_themes.each {|repository_theme| count += repository_theme.count}
            = count

= link_to "Новая тема", new_repository_theme_path, :class => 'btn btn-primary'

.free-space
