%h1 Список групп

%table.table.table-striped
  %tr
    %th №
    %th Блоки групп
    %th Тесты
    %th Сценарии
    %th

  - @groups.each do |group|
    %tr
      %td
      %td= link_to group.name, :controller => 'tests', :discipline => params['discipline'], :group => group
      %td
      %td
      %td.edit-delete
        /= link_to 'Редактировать', edit_group_path(group), :class => "btn"
        /= link_to 'Удалить', group, :confirm => 'Вы уверены?', :method => :delete, :class => "btn btn-danger"

%br

= link_to 'Новая группа', new_group_path, :class => 'btn'
