h1 {margin-bottom: 10px;}
.free-space {margin-bottom: 25px;}
td.actions, th.actions {width: 63px; vertical-align: middle;}
td.id {width: 10px;}

.container.center {width: 600px;}

.field_with_errors .message {
	color: #dc143c;
	display: inline;
	margin: 10px;
}

.field_with_errors input {
	border-color: #dc143c;
}

.field_with_errors select {
	border-color: #dc143c;
}

fieldset.partial, div.partial {
	margin-left: 50px;
}
