h1 {margin-bottom: 10px;}
.free-space {margin-bottom: 25px;}
td.actions, th.actions {width: 63px; vertical-align: middle;}
td.id {width: 10px;}

.sortable { list-style-type: none; margin: 0; padding: 0; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.2em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }

.container.center {width: 600px;}

.sortable li span.link { margin: -2px 50px; }
div.bottom {  }

/*#autocomplete-field {width: 250px}*/

hr.small {margin: 0; padding: 0;}

.field_with_errors .message {
	color: #dc143c;
	display: inline;
	margin: 10px;
}

.field_with_errors input {
	border-color: #dc143c;
}

.field_with_errors select {
	border-color: #dc143c;
}

fieldset.partial, div.partial {
	margin-left: 50px;
}

/*
.btn-mini {
	padding: 2px 6px;
	font-size: 11px;
	line-height: 14px;
}
*/
