%h1 Список тестов

%table.table.table-striped
  %tr
    %th Список тестов
    %th Список сценариев
    %th Действия

  - @tests.each do |test|
    %tr
      %td= link_to test.name, test
      %td
        - test.scripts.each do |script|
          = link_to script.name, script
          %br
      %td.delete= link_to 'Удалить', test, :confirm => 'Вы уверены?', :method => :delete, :class => 'btn btn-danger'

%br

= link_to 'Новый тест', new_test_path, :class => 'btn'
